.header {
    color: white;
    background: #f78e69;
    padding: 40px;
    text-align: right;
}

.pandaUno {

    background-image: url(img-panda/img/uno.jpg);
    height: 300px;
    background-size: cover;
    background-position-y: center;

}

.separacion {

    background: #f78e69;
    padding: 10px;
}

.fondoverde {

    background-color: #abe188;
    background-size: cover;
    background-position-y: center;
    padding: 30px;

    
}

.stylebox {

    color: white;
    background: #f78e69;
    background-size: cover;
    background-position-y: center;
    padding: 10px;
   

}
.pandaDos {
    background-image: url(img-panda/img/dos.jpg);
    height: 300px;
    background-size: cover;
    background-position-y: center;


}
.article {
    margin: 40px auto;
    text-align: center;
    padding: 30px;
}
.pandaTres {
    background-image: url(img-panda/img/tres.jpg);
    height: 300px;
    background-size: cover;
    background-position-y: center;
}
.footer {
    padding: 10px;
    text-align: right;
    color: white
}